body{
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.card-register{
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row-style {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}